form {
    background-color: #e20000;
    min-width: 35%;
    min-height: 300px;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.274);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

label {
    text-align: center;
    font-weight: bold;
    font-color: #1E1E1F;
    margin-bottom: 26px;
}

textarea {
    background-color: #F9FBFC;
    border: 2px, solid #202329;
    border-radius: 2px;
    box-shadow: 0px5px50pxrgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: justify;
    padding: 12px;
    height: 96px;
    width: 90%;
}

textarea::placeholder {
    color: #a5a5a5;
    font-family: 'Montserrat';
    font-weight: 400;
}

textarea:focus {
    outline-color: #61DAFA;
}

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
}

.TodoForm-button-add {
    background-color: #61DAFA;
    box-shadow: 0px5px25pxrgba(97, 218, 250, 0.5);
}

.TodoForm-button-cancel {
    background: transparent;
}