li {
    width: 100%;
    min-height: 70px;
    font-size: 1em;
    color: #ffffff;
    background-color: #ffffff77;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.301);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.fa-check-double {
    font-size: 2.5em;
    color: #fff;
    margin-left: 10px;
    left: 12px;
}

.fa-check {
    font-size: 2.5em;
    color: #ffffff;
    margin-left: 10px;
    left: 12px;
}

.fa-trash-can {
    font-size: 1.5em;
    color: #CCCCCC;
    margin-top: 12px;
    text-align: right;
}

.fa-trash-can:hover {
    color: #ff5f38;
}

.fa-solid {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 14px;
    font-weight: 400;
    display: inline;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon-check--active {
    color: #4caf50;
}